<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home Page</title>
</head>
<body>

<!--在Controller 中通过 model.addAttribute("user", new User());
因此可以th:object="${user}" 获取user对象 -->

<h1>Form</h1>
<form action="#" th:action="@{/submit.do}" th:object="${user}" method="post">
    <p>User Name: <input type="text" th:field="*{username}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>