<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.xingyun.springbootwithspringsecuritytokensample.interceptor.MyTokenAuthorityInterceptor">
        <!-- 如下列表请求不需要登陆拦截 -->
        <property name="excludeUrls">
            <list>
                <!-- 注册页面需要不拦截 -->
                <value>/user/add-user.do</value>
                <value>/user/login.do</value>
            </list>
        </property>
    </bean>
</beans>